<header class="navbar">
    <div class="logo-content">
        <img src="../src/assets/education@2x.png" alt="booklogo" />
        <div>
            <span class="addressBook-text">Bookstore</span><br />
        </div>
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
          </form>
    </div>
   
</header>
<router-outlet></router-outlet>