
<header style=" background-color:#78244C ;" class="navbar">

  <img style="height: 9.5mm;margin-left: 350mm; margin-right:20mm;" (click)="toHomePage()" class="cartlogo"
  src="../../../assets/home-4.png" alt="logoutlogo" />

</header>
  
<div class="container">
    <div class="order-image">
      <img style="margin-top: 0;" src="../../../assets/mark1.png" alt="Loading...">
      <h4 class="order-heading">Order Placed Successfully</h4>
    </div>
    <div class="message" >
      <h6>Congratulations!!!your order is confirmed</h6>
      <h6>the order id  is</h6><h6 *ngFor="let order of orders.data"> #{{order.orderID}}</h6><h6>save the order id for</h6>
      <h6>further communication.</h6>
    </div>
    <div class="table-details">
      <table>
        <thead>
          <th>Email Us</th>
          <th>Contact Us</th>
          <th>Address</th>
        </thead>
        <tr>
          <td>addressbook@gmail.com</td>
          <td>+91 8878061316</td>
          <td>tirupati complex , jabalpur ,madhya pradesh</td>
        </tr>
      </table>
    </div>
    <br>
    <button  style="margin-left: 155mm;margin-bottom:30mm;" type="button" (click)="goToDashboard()" >Continue Shopping</button>
  </div>