
<header class="navbar">
  <button  (click)="goToHome()" class="goToHomebtn" >go to home</button>
  <button (click)="goToLogin()" class="goTologinbtn" >logout</button>

</header>
<div class="container" style="margin-top: 10mm;">
  <div class="card">
    <h5 class="cart-heading">My cart ({{carts.data.length}})</h5>
    <div class="row g-0" *ngFor="let crt of carts.data">
      <div class="col-md-4" >
        <img [src]="this.imagePath+this.crt.book.bookImage" class="img-fluid rounded-start" alt="Loading...">
      </div>
      
      <div class="col-md-8">
        <div class="card-body" style="margin-left: 0mm; width: 150mm;">
          <h5 class="card-title">{{crt.book.bookName}}</h5>
          <p class="card-text">by {{crt.book.authorName}}</p>
          <p class="card-text">RS.{{crt.book.price}}</p>
          <div class="quantity-change">
            <button type="button" class="quantity"   >-</button>
            <input type="text" name="quantity" class="quantitytxt" [(ngModel)]="crt.quantity">
            <button type="button" class="quantity" >+</button>
            <a class="remove" >Remove</a> 
            <!-- (click)="deleteCart(crt.cartId)" -->
          </div>
                
        </div>
              
      </div>
      <span>.......................................................................................................</span>
    </div>
    <button class="checkout">checkout</button>
    <!-- <button class="">checkout</button> -->
    