<div class="container mt-5 mb-5">
        <div class="row d-flex align-items-center justify-content-center">
                <div class="col-md-6">
                        <div class="card px-5 py-5"> 

                                <h3 class="mt-3"> Register </h3>
                                <p><br>please enter the details !</p>

                                <div class="form-input"> <i class="fa fa-envelope"></i> <input type="text"
                                                class="form-control" placeholder="email" [(ngModel)]="userModel.email"> </div><br>

                                <div class="form-input"> <i class="fa fa-user"></i> <input type="text"
                                                class="form-control" placeholder="password" [(ngModel)]="userModel.password"> </div><br>

                                <div class="form-input"> <i class="fa fa-user"></i> <input type="text"
                                                class="form-control" placeholder="first name" [(ngModel)]="userModel.firstName"> </div><br>

                                <div class="form-input"> <i class="fa fa-user"></i> <input type="text"
                                                class="form-control" placeholder="last name" [(ngModel)]="userModel.lastName"> </div><br>

                                <div class="form-input"> <i class="fa fa-lock"></i> <input  type="text" [(ngModel)]="userModel.address"
                                                class="form-control" placeholder="address" > </div><br><br>


                                <button class="btn btn-outline-light btn-lg px-5" type="submit"
                                        (click)="onClickSaveModelRedirectToHome()">Submit</button>


      
                                <div class="text-center mt-4"> <span>Already a member?</span> <button class="astext"
                                                (click)="loginPage()">login</button><br><br>
                                </div>

                        </div>
                </div>
        </div>
</div>