.card{
    background-color: #2E1D1E;
}
.bgColor{
    background-color:white;
}
.mb{
    color:#3371B5;
}
.mb1{
    color:#707070;
}
.form-label{
    color: aliceblue;
}
.toptitle{
    color: aliceblue;
}
.headllogin{
        color: white;
}